@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'Guardian Sans Light';
  src: url('/fonts/guardian-sans-light.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Guardian Sans Medium';
  src: url('/fonts/guardian-sans-medium.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Guardian Sans Regular';
  src: url('/fonts/guardian-sans-regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Sanomat Light';
  src: url('/fonts/sanomat-light.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Sanomat Medium';
  src: url('/fonts/sanomat-medium.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

:root {
  background-color: black;
  font-family: 'Guardian Sans Regular' ;
  font-size: 17px;
  --c-black: #000;
  --c-yellow: #fdf147;
}

.subitem:hover .icon {
  fill: linear-gradient(to top right, #3498db, #8e44ad); /* Replace with your gradient colors */
}

.rotated-background {
  background-image: url('/img/bg6.webp'); /* Replace with the path to your actual image */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transform: rotate(90deg);
}

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
      display: none;
  }
 /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
      -ms-overflow-style: none;  /* IE and Edge */
      scrollbar-width: none;  /* Firefox */
}
}

.text-title {
  @apply text-2xl md:text-3xl lg:text-5xl font-bold font-sanomat-light;
}

.text-h2 {
  @apply text-xl md:text-2xl lg:text-4xl font-bold;
}

.text-h3 {
  @apply text-xl md:text-3xl font-medium font-sanomat-light;
}
.text-h3-g {
  @apply text-xl md:text-3xl font-medium font-sanomat-light;
}
::selection {
  background-color: var(--c-yellow);
  color: var(--c-black);
}

.div-style {
  @apply lg:rounded-[1px] lg:mt-2 lg:py-2;

}

.underline-animation-white2 {
  position: relative;
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
}

.underline-animation-white2::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 1.25px;
  background-color: #fff;
  bottom: 0;
  left: 0;
  transform: scaleX(0);
  transform-origin: bottom left;
  transition: transform 0.2s ease-in-out;
}

.group:hover .underline-animation-white2::after,
.underline-animation-white2:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.underline-animation-white {
  position: relative;
  overflow: hidden; /* Ensure the overflow is hidden to hide the initially right-to-left animation */

  transition: transform 0.2s ease-in-out;
}

.underline-animation-white::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 1.25px;
  background-color: #fff; /* Change this to your desired underline color */
  bottom: 0;
  left: 0;
  transform: scaleX(0);
  transform-origin: bottom left; /* Set the initial transform-origin to bottom right */
  transition: transform 0.2s ease-in-out;
}

.underline-animation-white:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left; /* Change this to bottom left for the hover state */
}

.underline-animation2 {
  position: relative;
  overflow: hidden; /* Ensure the overflow is hidden to hide the initially right-to-left animation */

  transition: transform 0.2s ease-in-out;
}

.underline-animation2::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 1.25px;
  background-color: #000; /* Change this to your desired underline color */
  bottom: 0;
  left: 0;
  transform: scaleX(0);
  transform-origin: bottom left; /* Set the initial transform-origin to bottom right */
  transition: transform 0.2s ease-in-out;
}

.underline-animation2:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left; /* Change this to bottom left for the hover state */
}

.underline-animation {
  position: relative;
  overflow: hidden;
  transition: transform 0.2s ease-in-out;
}

.underline-animation::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 1.25px;
  background-color: #fff; /* Set the default color for non-hover state */
  bottom: 0;
  left: 0;
  transform: scaleX(0);
  transform-origin: bottom left;
  transition: transform 0.2s ease-in-out;
}

.group:hover .underline-animation::after,
.underline-animation:hover::after {
  background-color: #000; /* Change this to your desired color for the hover state */
  transform: scaleX(1);
  transform-origin: bottom left;
}
