@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'Guardian Sans Light';
  src: url('/fonts/guardian-sans-light.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Guardian Sans Medium';
  src: url('/fonts/guardian-sans-medium.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Guardian Sans Regular';
  src: url('/fonts/guardian-sans-regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Sanomat Light';
  src: url('/fonts/sanomat-light.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Sanomat Medium';
  src: url('/fonts/sanomat-medium.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

:root {
  background-color: black;
  font-family: 'Guardian Sans Regular' ;
  font-size: 17px;
  --c-black: #000;
  --c-yellow: #fdf147;
}

.fade-in {
  -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 2s; /* Firefox < 16 */
  -ms-animation: fadein 2s; /* Internet Explorer */
  -o-animation: fadein 2s; /* Opera < 12.1 */
  animation: fadein 2s;
}

@keyframes fadein {
from { opacity: 0; }
to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
from { opacity: 0; }
to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
from { opacity: 0; }
to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
from { opacity: 0; }
to   { opacity: 1; }
}

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
      display: none;
  }
 /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
      -ms-overflow-style: none;  /* IE and Edge */
      scrollbar-width: none;  /* Firefox */
}
}
@layer base {
.text-title {
  @apply text-2xl md:text-3xl lg:text-5xl font-bold font-sanomat-light;
}

.text-h2 {
  @apply text-xl md:text-2xl lg:text-4xl font-bold;
}

.text-h3 {
  @apply text-xl md:text-3xl font-medium font-sanomat-light;
}
.text-h3-g {
  @apply text-xl md:text-3xl font-medium font-guardian-regular;
}


}
::selection {
  background-color: var(--c-yellow);
  color: var(--c-black);
  -webkit-background-color: var(--c-yellow);
  -webkit-color: var(--c-black);
}

.div-style {
  @apply lg:rounded-[1px] lg:mt-2 lg:py-2;

}

.underline-animation-white2 {
  position: relative;
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
}

.underline-animation-white2::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 1.25px;
  background-color: #fff;
  bottom: 0;
  left: 0;
  transform: scaleX(0);
  transform-origin: bottom left;
  transition: transform 0.2s ease-in-out;
}

.group:hover .underline-animation-white2::after,
.underline-animation-white2:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.underline-animation-white {
  position: relative;
  overflow: hidden; /* Ensure the overflow is hidden to hide the initially right-to-left animation */

  transition: transform 0.2s ease-in-out;
}

.underline-animation-white::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 1.25px;
  background-color: #fff; /* Change this to your desired underline color */
  bottom: 0;
  left: 0;
  transform: scaleX(0);
  transform-origin: bottom left; /* Set the initial transform-origin to bottom right */
  transition: transform 0.2s ease-in-out;
}

.underline-animation-white:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left; /* Change this to bottom left for the hover state */
}

.underline-animation2 {
  position: relative;
  overflow: hidden; /* Ensure the overflow is hidden to hide the initially right-to-left animation */

  transition: transform 0.2s ease-in-out;
}

.underline-animation2::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 1.25px;
  background-color: #000; /* Change this to your desired underline color */
  bottom: 0;
  left: 0;
  transform: scaleX(0);
  transform-origin: bottom left; /* Set the initial transform-origin to bottom right */
  transition: transform 0.2s ease-in-out;
}

.underline-animation2:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left; /* Change this to bottom left for the hover state */
}

.underline-animation {
  position: relative;
  overflow: hidden;
  transition: transform 0.2s ease-in-out;
}

.underline-animation::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 1.25px;
  background-color: #fff; /* Set the default color for non-hover state */
  bottom: 0;
  left: 0;
  transform: scaleX(0);
  transform-origin: bottom left;
  transition: transform 0.2s ease-in-out;
}

.group:hover .underline-animation::after,
.underline-animation:hover::after {
  background-color: #000; /* Change this to your desired color for the hover state */
  transform: scaleX(1);
  transform-origin: bottom left;
}


/* Basic Styles for Blog Content */
.blog-content {
  font-family: "Arial", sans-serif;
  line-height: 1.8;
  color: #333;
  background-color: #fff;
  border-radius: 8px;
}

.blog-title {
  color: #111;
  font-family: "Georgia", serif;
}

/* Heading styles */
.blog-content h1,
.blog-content h2,
.blog-content h3,
.blog-content h4,
.blog-content h5,
.blog-content h6 {
  color: #111;
  font-family: "Georgia", serif;
  font-weight: bold;
  margin-top: 5px;
}

.blog-content h1 {
  font-size: 2.5rem;
}

.blog-content h2 {
  font-size: 2rem;
  
}

.blog-content h3 {
  font-size: 1.75rem;
  font-weight: 500;
}

.blog-content h4 {
  font-size: 1.5rem;
  font-weight: 500;
}

.blog-content h5,
.blog-content h6 {
  font-size: 1.25rem;
  font-weight: 500;
}

/* Paragraph styles */
.blog-content p {
  font-size: 1rem;
  color: #444;
  margin-bottom: 5px;
  text-align: justify;
}

/* Image styles */
.blog-content img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  margin: 3px 0;
}

/* Link styles */
.blog-content a {
  color: #3498db;
  text-decoration: none;
}

.blog-content a:hover {
  text-decoration: underline;
}

/* Code block styles */
.blog-content pre {
  background-color: #2e2e2e;
  color: #f8f8f8;
  padding: 15px;
  border-radius: 8px;
  overflow-x: auto;
}

.blog-content code {
  background-color: #f4f4f4;
  padding: 2px 6px;
  border-radius: 4px;
}

/* Blockquote styles */
.blog-content blockquote {
  background-color: #f9f9f9;
  border-left: 4px solid #3498db;
  padding: 10px 20px;
  margin: 5px 0;
  font-style: italic;
  color: #666;
}

/* List styles */
.blog-content ul,
.blog-content ol {
  margin: 10px 0;
}

.blog-content li {
  margin-bottom: 8px;
}
